body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  border-bottom: 3px solid #e1003c;
  display: flex;
  align-items: center;
  padding: 10px;
}

.App-header img {
  height: 200px;
}

.App-header h1 {
  color: #e1003c;
  margin-left: 50px;
}

.App-body {
  padding: 50px;
  height: 50vh;
}

.App-footer {
  border-top: 3px solid #e1003c;
  text-align: center;
  font-style: italic;
  padding: 20px;
}
