.App-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(248, 38, 38);
}

.App-header img {
    width: 220px;
}

.App-header h1 {
    color: rgb(231, 4, 4);
    font-size: 35px;
}
