#CourseList {
    border: 1px solid #ccc;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    font-size: 22px;
}

#CourseList thead {
    height: 80px;
}

#CourseList th {
    text-align: start;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#CourseList th[colspan="2"] {
    text-align: center;
    border: none;
}
